#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

header{
  padding: 0.5rem;
  background-color: var(--background);
  color: var(--primary)
}

nav {
  margin: 0.5rem;
  background-color: var(--background);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: var(--primary);
  font-weight: 600;
  transition: all 0.5s ease-in-out;
  
}

nav > a:hover {
  text-decoration: underline;
}

h2 {
  padding: 1rem;
  color: var(--secondary)
}

p {
  color: var(--text);
  padding: 1rem;
  margin: 3rem;
  text-align: center;
  justify-content: center;
}

