* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  /* line-height: 24px; */
  font-weight: 400;
}

/* COLOR PALETTE */
:root {
  --background: #373736;
  --text: #fdfcfc;
  --primary: #cc6410;
  --secondary: #e4be10;
}

body {
  background-color: var(--background);
  color: var(--primary);
}

.App {
height: 100vh;
}
