.animalsLayout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.animalsLayout > h2 {
    width: 100%;
}

.animalminicard {
    height: 20rem;
    width: 18rem;
    padding: 0.5rem;
    background-color: aquamarine;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.animalminicard > img {
    height: 10rem;
    width: 10rem;
    object-fit: contain;
}