.animaldiv {
    height: 45rem;
    width: 30rem;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(167, 212, 212);
    justify-content: center;
}

.animaldiv > img {
    height: 20rem;
    width: 20rem;
    object-fit: contain;
}

h2 {
    margin: 0;
}

p{
padding: 0;
margin: 0;
}



